body,
body.cupcake {
  --color-body-bg: hsl(300, 33%, 53%); /* #af5faf */
  --color-menu-bg: hsl(300, 76%, 83%); /* #f5b4f5 */
  --color-recipe-bg: hsl(300, 29%, 43%); /* #8f4e8f */
  --color-box-shadow: hsl(300, 30%, 30%); /* #653665 */
  --color-text-dark: hsl(300, 29%, 43%); /* #8f4e8f */
  --color-text-light: hsl(60, 100%, 90%); /* #ffffcc */
  --color-border: hsl(300, 29%, 17%); /* #371e37 */
  --color-very-dark: hsl(300, 29%, 22%); /* #472747 */
}
