input.measure-quantity {
  width: 2em;
}
input.measure-unit {
  width: 3em;
}

.reorder-tray {
  button {
    font-size: 0.7em;
    height: 2em;
    width: 2em;
    border-radius: 50%;
    border: 1px solid var(--color-border);
    text-align: center;

    background-color: lightgray;
    &:active {
      background-color: darkgray;
    }
    &.add {
      background-color: green;
      &:active {
        background-color: lightgreen;
      }
    }
    &.remove {
      background-color: red;
      &:active {
        background-color: pink;
      }
    }
  }
}
