<p><b> Marie's Recipes</b></p>
<p>Thanks for stopping by.</p>
<p>All recipes found here are among my personal favorites.</p>
<p>
  This cheesecake is absolutely delicious. Yes, it really does call for 1/3 cup
  of lemon juice. I was surprised when I seen the recipe (after tasting the
  cheesecake) because I never would have guessed. After asking if my mom was
  absolutely sure it was really 1/3 cup of lemon juice, I tried making it
  according to the directions. Apparently it was right because there were no
  left overs.
</p>
<p>
  Some of the moistest chocolate cake you will ever taste. When I was little my
  mom made sure I did not know what was in the cake. Finally when I got older
  and begged her for the recipe she handed me this recipe for "Salad Dressing"
  cake. You make it with mayonaise. I hate mayonaise and was sure was mistaken.
  She promised that this was the cake she always made. It turns out that it
  really was the correct recipe, the secret to the super moist cake is the
  mayonaise.
</p>
<p>
  The Tator Tot Casserole is absolutely a favorite around our house. It is
  fairly simple to make and is very filling. I added green beans to the recipe
  to try to add some vegetables to our diet (I was hoping the kids would not
  notice them). Everybody loved it, the green beans enhanced the flavor. Now I
  almost always make it with the green beans added, my whole family prefers it
  that way.
</p>
<p>
  Anyway, I have talked enough. I hope you and your family will enjoy these
  recipes as much as we do.
</p>
